\sy\stem_ext/priv-app/Setting\s/Setting\s.apk
\sy\stem_ext/apex/com.android.vndk.v30.apex
bootimg/13_dtbdump_\[BWAr4\s.dtb
modem.img
vendor/lib64/libMegviiFacepp-0.5.2.\so
vendor/etc/camera/megviifacepp_0_5_2_model
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
boot.img
\sy\stem/\sy\stem/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
\sy\stem/\sy\stem/priv-app/MiuiCamera/MiuiCamera.apk
